header {
  transition: 0.5s ease all; }
  header nav {
    height: 70px; }
    header nav img {
      width: 130px;
      height: 80px; }
    header nav .navbar-nav .dropdown:hover .dropdown-menu {
      display: block; }
    header nav .navbar-nav .dropdown:hover .lrg-menu {
      margin-left: -600px;
      width: 1080px; }
      header nav .navbar-nav .dropdown:hover .lrg-menu ul {
        text-decoration: none;
        float: left; }
        header nav .navbar-nav .dropdown:hover .lrg-menu ul li {
          text-decoration: none; }
          header nav .navbar-nav .dropdown:hover .lrg-menu ul li a {
            text-decoration: none; }
    header nav .navbar-nav .nav-link {
      color: black !important;
      font-family: Poppins,Helvetica,Arial,sans-serif;
      padding: 10px 12px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: .6px;
      border-radius: 0;
      border-width: 0;
      border-style: solid;
      border-color: transparent;
      transition: all .3s ease;
      line-height: normal; }
      header nav .navbar-nav .nav-link:hover {
        color: #007bff !important; }
    header nav .navbar-nav .dropdown-submenu a {
      color: black !important; }
      header nav .navbar-nav .dropdown-submenu a:hover {
        color: #007bff !important; }

footer {
  background: #f7f9fb; }
  footer .container .row .content {
    margin-top: 70px; }
    footer .container .row .content a {
      background: #007bff !important;
      color: white;
      padding: 6px;
      border-radius: 6px;
      font-size: 13px; }
      footer .container .row .content a:hover {
        text-decoration: none !important;
        background: #2250fc !important; }
    footer .container .row .content h6 {
      color: #565656;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 600; }
    footer .container .row .content p {
      font-size: 13px;
      color: #777;
      margin: 12px 0 12px 0; }
  footer .container .row .col-7 a {
    text-decoration: none !important; }
    footer .container .row .col-7 a:hover {
      color: #007bff; }
  footer .container .col-3 {
    margin-top: 70px; }
    footer .container .col-3 h6 {
      color: #565656;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 600; }
    footer .container .col-3 ul {
      padding: 0;
      text-align: start; }
      footer .container .col-3 ul li {
        list-style: none;
        line-height: 42px;
        font-size: 14px; }
        footer .container .col-3 ul li a {
          color: #616060e5;
          margin: 0; }

.fixed-top .first-line {
  background-color: white;
  height: 50px; }
.fixed-top ul.mob {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 5px; }
.fixed-top ul.mob li {
  display: inline-block;
  margin-right: 10px; }
  .fixed-top ul.mob li a {
    color: #565656;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    margin-right: 16px;
    text-decoration: none;
    background-color: transparent; }
    .fixed-top ul.mob li a:hover {
      color: #007bff; }
.fixed-top ul.soc {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 5px; }
.fixed-top ul.soc li {
  display: inline-block;
  margin-right: 10px;
  float: right; }
  .fixed-top ul.soc li a {
    font-size: 20px;
    color: #565656;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    margin-right: 16px;
    text-decoration: none;
    background-color: transparent; }
    .fixed-top ul.soc li a:hover {
      color: #007bff; }

main #accordion-title {
  position: relative;
  background: #f8f9fa;
  height: 300px;
  margin-top: 100px; }
  main #accordion-title .title {
    position: absolute;
    left: 40%;
    top: 35%; }
    main #accordion-title .title h1 {
      font-family: Poppins,Helvetica,Arial,sans-serif;
      font-size: 44px;
      line-height: 56px;
      font-weight: 400;
      margin-bottom: 10px; }
    main #accordion-title .title h6 {
      font-size: 13px;
      color: #565656; }
    main #accordion-title .title a {
      color: #565656;
      font-size: 12px; }
      main #accordion-title .title a:hover {
        text-decoration: none;
        color: #007bff; }
    main #accordion-title .title span {
      color: #565656;
      font-size: 12px; }
main #resp-imgs-area .container .col-4 {
  padding-right: 15px;
  padding-left: 15px; }
main #resp-imgs-area .container p {
  margin-bottom: 20px; }
main #resp-imgs-area .container h2 {
  margin-bottom: 25px; }
main #resp-imgs-area .container span {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word; }
main #resp-imgs-area .container .col-6 {
  padding-right: 15px;
  padding-left: 15px; }
main #resp-imgs-area .container .row {
  margin-bottom: 100px; }
main #resp-imgs-area .container .rounded {
  margin-top: 80px; }
  main #resp-imgs-area .container .rounded img {
    border-radius: 0.25rem !important;
    width: 100%; }
main #resp-imgs-area .container .circle img {
  border-radius: 50% !important; }
main #resp-imgs-area .container .thumbnail img {
  box-sizing: border-box;
  border: 1px solid #eee;
  width: 100%; }

/*# sourceMappingURL=resp-images.css.map */
