$font-body:'Poppins', sans-serif;
$font-title-size:48px;
$p-color:#565656;
$h5-size:18px;
$h5-color:rgba(0, 0, 0, 0.562);


$accor-h4-size:20px;
$accor-h4-weight:500;
$accor-h4-color:#1f1f1f;

$accor-h6-size:13px;